.Projects {
    background-color: #e6d3c6;
    height: 100vh;

}

.Projects .Container {
    display: flex;
}

.Projects .Container img {
    width: 60%;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
}

@media (max-width: 910px) {
    .Projects .Container .img {
        width: 80%;
        padding-right: 20%;
    }

    .Projects p{
        width: 80%;
        padding-left: 10%;
    }

    .Projects .Container {
        margin-left: 2%;
        margin-right: 2%;
    }
}
