.Projects {
    background-color: #e6d3c6;
    height: 100vh;
}

.Projects .Container {
    display: flex;
}

.Projects p {
    text-align: center;
    padding-top: -10%;
    padding-bottom: 2%;
    color: #b45118;
    margin: 0 50px 0 50px;

}

/******* Grid ***********/

.PortfolioRow {
    margin-left: 50px;
    margin-right: 50px;
}

.PortfolioWrapper {
    width: 31%;
    display: inline-block;
    padding: 0 0 5px;
    margin: 0 1% 30px;
    vertical-align: top; 

}

.PortfolioItem {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
    padding: 0;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.PortfolioItem img {
    max-width: 100%;
    width: 100%;
    opacity: 1.0;
   
}

.PortfolioInfo {
    text-align: center;
}






@media (max-width: 910px) {
    .Projects .Container .img {
        width: 80%;
        padding-right: 20%;
    }

    .Projects p{
        width: 80%;
        padding-left: 10%;
    }

    .Projects .Container {
        margin-left: 2%;
        margin-right: 2%;
    }
}
