.Projects {
  background-color: #e6d3c6;
  padding-bottom: 5%;
  padding-top: 3%;
}

.Projects p {
  padding-left: 25%;
  width: 50%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
}

.Projects .TechDesc ul {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  justify-content: center;
  padding-left: 8em;
  padding-bottom: 10px;
}

.Projects .List ul {
  color: black;
  list-style-type: none;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Projects .List ul li {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.Projects .Container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5%;
  width: 100%;
  justify-content: center;
}

.Projects .Container .List {
  flex-basis: 23%;
  background-color: #e6d3c6;
  box-shadow: rgba(0, 0, 0, 0.148438) 0 1vh 2vh;
  border-radius: 9px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.Projects .Container img {
  width: 400px;
  height: 200px;
  border-radius: 3%;
}

@media (max-width: 900px) {
  .Projects .Container .img {
    width: 80%;
    padding-right: 20%;
  }
}

@media (max-width: 374px) {
  .Projects .Container .List {
    flex-basis: 49%;
  }

  .Projects p {
    width: 80%;
    padding-left: 10%;
  }

  .Projects .Container {
    margin-left: 2%;
    margin-right: 2%;
  }
}
