.Quote {
    background-color: #e6d3c6;
    background-position: center;
    padding-bottom: 2%;
}

.Quote .Container {
    display: flex;
}

.Quote .Container .Text {
    width: 100%;
    color: #b45118;
    padding-top: 2%;
    margin-left: 2px;
    margin-right: 2px;
}

.Quote p {
    font-size: calc(0.85rem + 0.8vw);
    color: #b45118;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
  }