.AboutMe {
    background-image: url('./../../img/about.png');
    background-color: #e6d3c6;
    background-position: center;
    background-size: cover;
    padding-bottom: 5%;
    height: 100vh;
    

}

.AboutMe .Container {
    display: flex;

    
}

.AboutMe .Container .Text {
    width: 40%;
    margin-left: 4%;
    text-align: center;
    padding-top: 80px;
    
}

.AboutMe .Container .Text h2 {
    font-weight: 900;
}

.AboutMe .Container .Photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.AboutMe .Container .Photo .Me {
    width: 70%;
    max-width: 500px;
    border-radius: 10%;
    margin-right: -25%;
    height: 60%;
}

@media (max-width: 500px){
    .AboutMe .Container {
        flex-direction: column;
        align-items: center;
    }

    .AboutMe .Container .Text {
        width: 80;
    }

    .AboutMe .Container .Photo {
        width: 70%;
    }

    
}

