.AboutMe {
  background-color: #fffaf2;
  padding-bottom: 5%;
  background-position: center;
  padding-top: 40px;
}

.AboutMe .Container {
  display: flex;
}

.AboutMe .Container .Text {
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;

}

.AboutMe .Container .Text h2 {
  font-weight: 900;
  color: black;
  font-size: 46px;
}

.AboutMe .Container .Text p {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
}

.AboutMe .Container .Photo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutMe .Container .Photo .AboutPhoto {
  width: 100%;
  max-width: 400px;
  border-radius: 10%;
  height: 40%;
}

@media (max-width: 500px) {
  .AboutMe .Container {
    flex-direction: column;
    align-items: center;
  }

  .AboutMe .Container .Text {
    width: 80%;
  }

  .AboutMe .Container .Photo {
    width: 70%;
  }
}
