.Container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  padding-top: 3%;
}

.Container h1 {
  color: #b45118;
}

@media (max-width: 375px) {
  .Container hr {
    display: none;
  }
}
