.Home {
    background: #f1eae0;
    display: flex;
    height: 100vh;
    padding-top: 80;
    position: relative;
}

.Home .Container {
    position: absolute;
    top: 20%;
    left: 4%;
}

.Home .Container h1 {
    margin: 0;
}

.Home .Container .Welcome {
    font-size: calc(1.7rem + 3vw);
}

.Home .Circle {
    height: auto;
    max-width: 400px;
    position: absolute;
    bottom: 0;
    right: 0%;

}

.Home .Headshot {
    height: 70%;
    position: absolute;
    right: 4%;
    top: 20%;
}

h1 {
    font-weight: 900;
    font-size: calc(1rem + 3vw);
    color: black;
  }

  p {
    color: black;
  }
