.Home {
background: rgb(127,172,8);
background: linear-gradient(90deg, rgba(127,172,8,1) 0%, rgba(247,62,226,1) 80%);    display: flex;
    height: 630px;
    padding-top: 80;
    position: relative;
}

.Home .Container {
    position: absolute;
    top: 15%;
    left: 2%;
    color: white;
}

.Home .Container h1 {
    margin: 0;
}

.Home .Code {
    height: 24%;
    position: absolute;
    bottom: 0;
    left: 2%;
}
