 .Logo img {
    float: left;  
 }

 .NavBar {
     
     background: #cf9f8e;
     height: 50px;
     width: 100%;
     position: fixed;
     z-index: 999;
     display: flex; 
     align-items: center; 
    text-align: center;
    opacity: 90%;

 }



 .NavRight nav ul {
     list-style: none; 
     
 }

 /* Makes nav bar horizonal */
 .NavRight nav ul li {
     display: inline-block;
     margin: 1.5vw;
     padding: 14px 16px;

 }

 .NavRight nav ul li a {
     text-decoration: none;
     color: black;
 }

 .NavRight nav a:hover {
    border-bottom: 5px solid #d09b7a;
 } 

 

 