.Blog {
    background-color: #d09f8f;
    background-position: center;
    padding-bottom: 5%;
}

.Blog .Container {
    display: flex;
}

.Blog .Container .Text {
    width: 47%;
    margin-left: 3%;
}