body {
  margin: 0;
  font-family: 'Oranienbaum', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-weight: 900;
  font-size: calc(1rem + 3vw);
  color: white;
}

h2 {
  font-weight: 700;
  font-size: calc(1rem + 1.5vw);
  color: white;
}

p {
  font-weight: 500;
  font-size: calc(0.75rem + 1vw);
  color: white;
}

a {
  font-weight: 900;
  font-size: calc(0.6rem + 1vw);
  color: white;
}

li {
  font-size: calc(0.6rem + 1vw);
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


